ServicioSITECE/Service References/AsociadoWS/RegistroService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RegistroService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52493/RegistroService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52493/RegistroService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServicioSITECE.Errores" />
      <xsd:import schemaLocation="http://localhost:52493/RegistroService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52493/RegistroService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioSITECE.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegistroService_CrearAsociado_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearAsociado" />
  </wsdl:message>
  <wsdl:message name="IRegistroService_CrearAsociado_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearAsociadoResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistroService_CrearAsociado_ManejadorExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioSITECE.Errores" name="detail" element="q1:ManejadorException" />
  </wsdl:message>
  <wsdl:message name="IRegistroService_ObtenerAsociado_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAsociado" />
  </wsdl:message>
  <wsdl:message name="IRegistroService_ObtenerAsociado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAsociadoResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistroService_ObtenerAsociadoToken_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAsociadoToken" />
  </wsdl:message>
  <wsdl:message name="IRegistroService_ObtenerAsociadoToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAsociadoTokenResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegistroService">
    <wsdl:operation name="CrearAsociado">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistroService/CrearAsociado" message="tns:IRegistroService_CrearAsociado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistroService/CrearAsociadoResponse" message="tns:IRegistroService_CrearAsociado_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IRegistroService/CrearAsociadoManejadorExceptionFault" name="ManejadorExceptionFault" message="tns:IRegistroService_CrearAsociado_ManejadorExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAsociado">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistroService/ObtenerAsociado" message="tns:IRegistroService_ObtenerAsociado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistroService/ObtenerAsociadoResponse" message="tns:IRegistroService_ObtenerAsociado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAsociadoToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistroService/ObtenerAsociadoToken" message="tns:IRegistroService_ObtenerAsociadoToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistroService/ObtenerAsociadoTokenResponse" message="tns:IRegistroService_ObtenerAsociadoToken_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRegistroService" type="tns:IRegistroService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearAsociado">
      <soap:operation soapAction="http://tempuri.org/IRegistroService/CrearAsociado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ManejadorExceptionFault">
        <soap:fault use="literal" name="ManejadorExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAsociado">
      <soap:operation soapAction="http://tempuri.org/IRegistroService/ObtenerAsociado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAsociadoToken">
      <soap:operation soapAction="http://tempuri.org/IRegistroService/ObtenerAsociadoToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistroService">
    <wsdl:port name="BasicHttpBinding_IRegistroService" binding="tns:BasicHttpBinding_IRegistroService">
      <soap:address location="http://localhost:52493/RegistroService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>