TestServicioGestionSolicitudes/Connected Services/SolicitudWS/SolicitudService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioGestionSolicitudes.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioGestionSolicitudes.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:28970/SolicitudService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServicioAlumnos.Dominio" />
  <xs:complexType name="Solicitud">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioAlumnos.Dominio" minOccurs="0" name="Alumno" nillable="true" type="q1:Alumno" />
      <xs:element minOccurs="0" name="Certificado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCita" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRespuesta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSolicitud" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Grado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdNivel" type="xs:int" />
      <xs:element minOccurs="0" name="IdPreMatricula" type="xs:int" />
      <xs:element minOccurs="0" name="Nivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreApellidoAlumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroDniAlumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroDniApoderado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apoderado" nillable="true" type="tns:Apoderado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Solicitud" nillable="true" type="tns:Solicitud" />
  <xs:complexType name="Apoderado">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroCelular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroDni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parentesco" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Apoderado" nillable="true" type="tns:Apoderado" />
  <xs:complexType name="ArrayOfSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Solicitud" nillable="true" type="tns:Solicitud" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolicitud" nillable="true" type="tns:ArrayOfSolicitud" />
</xs:schema>