SistemaDePrematricula/Connected Services/NivelesServWS/NivelesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:28970/NivelesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioGestionSolicitudes.Dominio" />
  <xs:element name="Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Nivel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Grado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioGestionSolicitudes.Dominio" minOccurs="0" name="ObtenerResult" nillable="true" type="q1:Niveles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>