SistemaDePrematricula/Connected Services/NivelesServWS/NivelesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioGestionSolicitudes.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioGestionSolicitudes.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Niveles">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anho" type="xs:int" />
      <xs:element minOccurs="0" name="DisponibleVacantes" type="xs:int" />
      <xs:element minOccurs="0" name="Grado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdNivel" type="xs:int" />
      <xs:element minOccurs="0" name="Nivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Seccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalVacantes" type="xs:int" />
      <xs:element minOccurs="0" name="Turno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Niveles" nillable="true" type="tns:Niveles" />
</xs:schema>