SistemaDePrematricula/Connected Services/SolicitudServWS/SolicitudService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SolicitudService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:28970/SolicitudService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:28970/SolicitudService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ServicioGestionSolicitudes.Errores" />
      <xsd:import schemaLocation="http://localhost:28970/SolicitudService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:28970/SolicitudService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioGestionSolicitudes.Dominio" />
      <xsd:import schemaLocation="http://localhost:28970/SolicitudService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServicioAlumnos.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISolicitudService_Crear_InputMessage">
    <wsdl:part name="parameters" element="tns:Crear" />
  </wsdl:message>
  <wsdl:message name="ISolicitudService_Crear_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudService_Crear_ManejadorExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioGestionSolicitudes.Errores" name="detail" element="q1:ManejadorException" />
  </wsdl:message>
  <wsdl:message name="ISolicitudService_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="ISolicitudService_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudService_Modificar_InputMessage">
    <wsdl:part name="parameters" element="tns:Modificar" />
  </wsdl:message>
  <wsdl:message name="ISolicitudService_Modificar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudService_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="ISolicitudService_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:portType name="ISolicitudService">
    <wsdl:operation name="Crear">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudService/Crear" message="tns:ISolicitudService_Crear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudService/CrearResponse" message="tns:ISolicitudService_Crear_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISolicitudService/CrearManejadorExceptionFault" name="ManejadorExceptionFault" message="tns:ISolicitudService_Crear_ManejadorExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudService/Obtener" message="tns:ISolicitudService_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudService/ObtenerResponse" message="tns:ISolicitudService_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modificar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudService/Modificar" message="tns:ISolicitudService_Modificar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudService/ModificarResponse" message="tns:ISolicitudService_Modificar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudService/Listar" message="tns:ISolicitudService_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudService/ListarResponse" message="tns:ISolicitudService_Listar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISolicitudService" type="tns:ISolicitudService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Crear">
      <soap:operation soapAction="http://tempuri.org/ISolicitudService/Crear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ManejadorExceptionFault">
        <soap:fault use="literal" name="ManejadorExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <soap:operation soapAction="http://tempuri.org/ISolicitudService/Obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modificar">
      <soap:operation soapAction="http://tempuri.org/ISolicitudService/Modificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/ISolicitudService/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SolicitudService">
    <wsdl:port name="BasicHttpBinding_ISolicitudService" binding="tns:BasicHttpBinding_ISolicitudService">
      <soap:address location="http://localhost:28970/SolicitudService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>