SistemaDePrematricula/Connected Services/SolicitudServWS/SolicitudService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:28970/SolicitudService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioGestionSolicitudes.Dominio" />
  <xs:element name="Crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioGestionSolicitudes.Dominio" minOccurs="0" name="solicitud" nillable="true" type="q1:Solicitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicioGestionSolicitudes.Dominio" minOccurs="0" name="CrearResult" nillable="true" type="q2:Solicitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPrematricula" type="xs:int" />
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicioGestionSolicitudes.Dominio" minOccurs="0" name="ObtenerResult" nillable="true" type="q3:Solicitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServicioGestionSolicitudes.Dominio" minOccurs="0" name="solicitud" nillable="true" type="q4:Solicitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServicioGestionSolicitudes.Dominio" minOccurs="0" name="ModificarResult" nillable="true" type="q5:Solicitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServicioGestionSolicitudes.Dominio" minOccurs="0" name="ListarResult" nillable="true" type="q6:ArrayOfSolicitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>